.nav-bg{
    background-color:#0C1C2C;
}
.nav-text{
    font-weight: bold;
    font-family: Poppins, sans-serif;
}

.bi-box-arrow-in-down{
   color: rgb(247, 102, 77);
    font-size: 2rem;
}
.btn{
    font-size: 0em !important;
}
a:hover{
    text-decoration: none !important;
}