.nav-bg{
    background-color:#0C1C2C;
}
.nav-text{
    font-family: Poppins, sans-serif;
}

.bi-box-arrow-in-down{
   color: rgb(247, 102, 77);
    font-size: 2rem;
}
.btn{
    font-size: 0em !important;
}
a:hover{
    text-decoration: none !important;
}
.bi-box-arrow-in-left{
    font-size: 1.35rem;
}
.bi-journal-plus{
    font-size: 1.20rem;
}
.bi-person{
    font-size: 1.40rem;
}
.bi-box-arrow-in-right{
     font-size: 1.35rem;
}
.bi-person-plus{
    font-size: 1.30rem;
}