
.bi-plus{
    font-size: 2rem;
}
.add-img{
    height: 7rem !important;
    width: 7rem !important;
    background-color: aliceblue !important;
    color: rgb(62, 62, 63) !important;
}

.add-img:hover{
     background-color: rgb(224, 232, 238)  !important;
}
.imgInput{
    display: none;
}
.img-thumbnail{
    height: 7rem !important;
    width: 7rem !important;
}
.bi-x{
    position: relative;
    top: -2.70rem;
    left: -1.08rem;
}
.bi-x:hover{
    cursor: pointer;
}

#bg-dark{
    background-color: #02020210;
}