@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap');

.location-name{
font-family: 'Poppins', sans-serif;
}
img{
    object-fit: cover;
    height: 30rem !important;
}

.rating-number{
    top: -28rem;
    left: -3rem;
    color: white;
    position: relative;
    width: 3.50rem;
    height: 3.50rem;
    background-color: #E74C3C;
}

.post-body{
    background-color:white !important;
}

.post-linkl:hover{
    cursor:pointer;
}

.card-title{
   color: #333333;
   font-weight: 700;
   font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

.location{
    color: rgba(255, 99, 71, 0.836);
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

.publisher-name{
    font-size: 1.10rem;
    color: rgba(75, 74, 74, 0.7);
}
.info{
    color: rgba(75, 74, 74, 0.754);
}

.card-text{
    color: #343a40;
    overflow: hidden !important;
    max-height: 1.80rem !important;
    transition-duration: 1s;
}

.card-text:hover{
   max-height: 100rem !important;
}

#comment-collapse{
    transition-duration: 200ms;
}

#comment-collapse:hover{
    cursor: pointer;
    color: rgba(255, 99, 71, 0.836) !important;
}
.date{
    font-size: 0.70rem !important;
}
.bi-reply{
    color:aliceblue;
    font-size: 1.40rem;
}
.comment-content{
    font-size: 0.75rem;
}

.comment-section {
    background-color: rgba(27, 27, 28, 0.083);
}