@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap');

.title{
   color: #333333;
   font-weight: 700;
   font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.location{
    color: rgba(255, 99, 71, 0.836);
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

#main-bg{
    background-color:white;
}

.comments-subtitle{
    font-size: 1rem;
    color: rgba(255, 99, 71, 0.836) !important;
    font-weight: 400 !important; 
   font-family: 'M PLUS Rounded 1c', sans-serif !important ;
}

#spinner{
    margin-top: 22%;
}

.full-rating {
    font-size: 0.90rem;
    font-weight: 600
}
.rating input {
    display: none;
}

#rating-stars{
    font-size: 1.50rem;
}

.bi-star-fill:hover{
    cursor: pointer;
}