@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap');

.title{
   color: #333333;
   font-weight: 700;
   font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
.location{
    color: rgba(255, 99, 71, 0.836);
    font-weight: 400;
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
}

#main-bg{
    background-color: rgba(220, 220, 220, 0.727);
}

.comments-subtitle{
    font-size: 1rem;
    color: rgba(255, 99, 71, 0.836) !important;
    font-weight: 400 !important; 
   font-family: 'M PLUS Rounded 1c', sans-serif !important ;
}

#spinner{
    margin-top: 22%;
}